@charset "UTF-8";
:root {
  --font-primary: "Inter";
  --light-primary: rgba(251, 249, 249, 1);
  --middle-primary: rgba(153, 161, 161, 1);
  --dark-primary: rgba(17, 17, 17, 1);
  --accident-color: rgba(45, 85, 81, 1);
  --accident-color-opacity: rgba(45, 85, 81, 0.1);
}

/* inter-100 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter/inter-v13-cyrillic_latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
select.active.focus,
select.active:focus,
select.focus,
select:active.focus,
select:active:focus,
select:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(228, 229, 229) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(228, 229, 229);
  border-radius: 2px;
  border: 2px solid rgb(45, 85, 81);
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(45, 85, 81) rgb(228, 229, 229);
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 0.5px solid rgb(138, 138, 138);
  background-color: rgb(45, 85, 81);
  border-radius: 2px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
input[type=checkbox]:checked + label::before {
  background-color: rgb(57, 112, 106);
  border-color: rgb(57, 112, 106);
}
input[type=checkbox]:checked + label::after {
  content: "✔";
  position: absolute;
  left: 4px;
  top: 1.5px;
  font-size: 12px;
  color: white;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 18px 144px;
  background-color: var(--light-primary);
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header {
    padding: 60px 32px 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .header {
    padding: 60px 20px 18px;
  }
}
.header__logo {
  width: 161px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__logo {
    margin-right: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .header__logo {
    margin-right: auto;
  }
}
.header__nav {
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__nav--mobile {
    position: absolute;
    top: 120px;
    right: 32px;
    background-color: var(--light-primary);
    z-index: 999;
    width: 100%;
    max-width: 200px;
    height: calc(100vh - 120px);
    padding: 18px 16px;
  }
  .header__nav--mobile.hide {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header__nav--mobile {
    position: absolute;
    top: 120px;
    right: 0;
    background-color: var(--light-primary);
    z-index: 999;
    width: 100%;
    max-width: 375px;
    height: calc(100vh - 120px);
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .header__nav--mobile.hide {
    display: none;
  }
}
.header__nav-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__nav-list--mobile {
    flex-direction: column;
    gap: 0;
    min-height: 200px;
    height: calc(100% - 120px);
  }
}
@media screen and (max-width: 767.98px) {
  .header__nav-list--mobile {
    flex-direction: column;
    gap: 0;
    min-height: 200px;
    height: calc(100% - 120px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__nav-item--mobile {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .header__nav-item--mobile {
    width: 100%;
  }
}
.header__nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--middle-primary);
  background-color: var(--light-primary);
}
.header__nav-link:hover, .header__nav-link:active, .header__nav-link:focus {
  color: var(--accident-color);
  background-color: var(--accident-color-opacity);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__nav-link--mobile {
    width: 100%;
    justify-content: space-between;
    color: var(--dark-primary);
  }
}
@media screen and (max-width: 767.98px) {
  .header__nav-link--mobile {
    width: 100%;
    justify-content: space-between;
    color: var(--dark-primary);
  }
}
.header__nav-dropdown {
  width: 100%;
  max-width: 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--light-primary);
  border: 2px solid #fff;
  box-shadow: 0px 2px 8.3px 0px rgba(0, 0, 0, 0.08);
}
.header__nav-dropdown.hide {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__nav-dropdown--mobile {
    position: relative;
    border: none;
    box-shadow: none;
    width: 100%;
    min-width: 100%;
    border-bottom: 1px solid rgb(228, 229, 229);
  }
}
@media screen and (max-width: 767.98px) {
  .header__nav-dropdown--mobile {
    position: relative;
    border: none;
    box-shadow: none;
    width: 100%;
    min-width: 100%;
    border-bottom: 1px solid rgb(228, 229, 229);
  }
}
.header__nav-icon.active {
  transform: rotate(180deg);
}
@media screen and (max-width: 1439.98px) {
  .header__nav-icon--desktop {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header__nav-icon--mobile {
    display: none;
  }
}
.header__nav-dropdown-link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--middle-primary);
  background-color: var(--light-primary);
}
.header__nav-dropdown-link:hover, .header__nav-dropdown-link:active, .header__nav-dropdown-link:focus {
  color: var(--accident-color);
  background-color: var(--accident-color-opacity);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__nav-dropdown-link--mobile {
    color: var(--dark-primary);
  }
}
@media screen and (max-width: 767.98px) {
  .header__nav-dropdown-link--mobile {
    color: var(--dark-primary);
  }
}
.header__btns {
  list-style: none;
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 1440px) {
  .header__btns--mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__btns--mobile {
    flex-direction: column;
    width: 100%;
    margin-top: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .header__btns--mobile {
    flex-direction: column;
    width: 100%;
    margin-top: auto;
  }
}
@media screen and (min-width: 1440px) {
  .header__btns--mobile-lang {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__btns--mobile-lang {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__btns--admin {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header__btns--admin {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header__btns--lang {
    display: none;
  }
}
.header__btn-lang {
  position: relative;
}
.header__btn {
  border: none;
  cursor: pointer;
}
.header__btn--primary {
  padding: 12px 24px;
  border-radius: 24px;
  color: var(--light-primary);
  font-weight: 600;
  background-color: var(--accident-color);
}
.header__btn--primary:hover {
  background-color: rgb(57, 112, 106);
}
.header__btn--primary:focus, .header__btn--primary:active {
  background-color: rgb(31, 59, 56);
}
.header__btn--primary:disabled {
  color: rgb(129, 153, 151);
  background-color: rgb(213, 221, 220);
}
.header__btn--secondary {
  padding: 12px 24px;
  border-radius: 24px;
  color: var(--accident-color);
  font-weight: 600;
  background-color: transparent;
}
.header__btn--secondary:hover {
  color: rgb(31, 59, 56);
}
.header__btn--secondary:focus, .header__btn--secondary:active {
  color: rgb(31, 59, 56);
}
.header__btn--secondary:disabled {
  color: rgb(129, 153, 151);
}
.header__btn--main-lang {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  position: relative;
  padding: 12px 24px;
  color: var(--dark-primary);
  font-size: 14px;
  padding: 0;
}
.header__btn--main-lang:hover, .header__btn--main-lang:active, .header__btn--main-lang:focus {
  color: var(--accident-color);
  background-color: var(--accident-color-opacity);
}
.header__btn--main-lang:hover {
  background-color: transparent;
}
.header__btn--lang {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  position: relative;
  padding: 12px 24px;
  color: var(--dark-primary);
  font-size: 14px;
}
.header__btn--lang:hover, .header__btn--lang:active, .header__btn--lang:focus {
  color: var(--accident-color);
  background-color: var(--accident-color-opacity);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header__btn--mobile {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .header__btn--mobile {
    width: 100%;
  }
}
.header__btn-dropdown {
  width: 100%;
  min-width: 160px;
  max-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--light-primary);
  border: 2px solid #fff;
  box-shadow: 0px 2px 8.3px 0px rgba(0, 0, 0, 0.08);
  z-index: 999;
}
.header__btn-dropdown.hide {
  display: none;
}
.header__btn-icon.active {
  transform: rotate(180deg);
}
.header__mobile-nav {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(45, 85, 81, 0.1);
  cursor: pointer;
}
.header__mobile-nav:hover {
  background-color: rgba(57, 112, 106, 0.25);
}
.header__mobile-nav:focus, .header__mobile-nav:active {
  background-color: rgba(9, 102, 253, 0.05);
}
@media screen and (min-width: 1440px) {
  .header__mobile-nav {
    display: none;
  }
}
.header__mobile-nav-icon--open {
  display: flex;
}
.header__mobile-nav-icon--open.hide {
  display: none;
}
.header__mobile-nav-icon--close {
  display: flex;
}
.header__mobile-nav-icon--close.hide {
  display: none;
}

.about {
  padding: 72px 144px;
  background-color: var(--light-primary);
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .about {
    padding: 40px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .about {
    padding: 40px 20px;
  }
}
.about__row {
  align-items: center;
  gap: 18px;
}
.about__row .title {
  min-width: 450px;
  max-width: 450px;
}
.about__row .desc {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .about__row .title {
    min-width: 270px;
    max-width: 270px;
  }
}
@media screen and (max-width: 767.98px) {
  .about__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
  .about__row .desc {
    margin-top: 0;
  }
  .about__row .title {
    min-width: auto;
    max-width: auto;
  }
}
.about__column {
  flex-direction: column;
}
.about__tabs {
  width: 100%;
  padding: 0 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  border-bottom: 1px solid var(--accident-color-opacity);
}
.about__tab {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 9px;
  border: none;
  background-color: transparent;
}
.about__tab-icon {
  margin-bottom: 1px;
}
.about__tab-icon.hide {
  display: none;
}
.about__tabs-info {
  width: 100%;
  list-style: none;
}
.about__tabs-item {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
.about__tabs-item.hide {
  display: none;
}
.about__tab-info {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 0;
}
.about__tab-info .title {
  width: 100%;
  min-width: 415px;
  max-width: 415px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .about__tab-info {
    gap: 18px;
    padding: 20px 0;
  }
  .about__tab-info .title {
    min-width: 270px;
    max-width: 270px;
  }
}
@media screen and (max-width: 767.98px) {
  .about__tab-info {
    flex-wrap: wrap;
    gap: 9px;
    padding: 20px 0;
  }
  .about__tab-info .title {
    min-width: auto;
    max-width: auto;
  }
}

.ig__list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: var(--accident-color);
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .ig__list {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767.98px) {
  .ig__list {
    flex-direction: column-reverse;
  }
}
.ig__item {
  width: 100%;
  height: 100%;
}
.ig__item--wrap {
  padding: 72px 100px 72px 144px;
  background-color: var(--accident-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .ig__item--wrap {
    padding: 40px 32px 40px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .ig__item--wrap {
    padding: 40px 20px 40px 20px;
  }
}
.ig__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .ig__info {
    gap: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .ig__info {
    gap: 9px;
  }
}
.ig__img {
  width: 100%;
  height: 100%;
}
.ig__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ig__btn {
  max-width: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 65px;
  background-color: var(--light-primary);
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
}
.ig__btn:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
@media screen and (max-width: 767.98px) {
  .ig__btn {
    max-width: 100%;
  }
  .ig__btn:hover {
    transform: scale(1.05);
  }
}

.innovation {
  padding: 72px 144px;
  background-color: #ffffff;
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .innovation {
    padding: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .innovation {
    padding: 0;
  }
}
.innovation__list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .innovation__list {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .innovation__list {
    flex-direction: column;
    gap: 0;
  }
}
.innovation__item {
  width: 100%;
  flex: 1 1 calc(50% - 60px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .innovation__item {
    gap: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .innovation__item {
    gap: 24px;
  }
}
.innovation__item--wrap {
  height: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .innovation__item--wrap {
    padding: 40px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .innovation__item--wrap {
    padding: 40px 20px;
  }
}
.innovation__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .innovation__info {
    gap: 16px;
  }
}
@media screen and (max-width: 767.98px) {
  .innovation__info {
    gap: 9px;
  }
}
.innovation__info .title {
  white-space: wrap;
}
.innovation__img {
  width: 100%;
  height: 100%;
}
.innovation__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.innovation__btn {
  max-width: 85px;
  font-weight: 600;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.innovation__btn .desc {
  border-bottom: 1px solid var(--accident-color);
}
.innovation__btn .desc:hover {
  color: var(--middle-primary);
  border-bottom: 1px solid var(--middle-primary);
}

.balance {
  padding: 72px 144px;
  background-color: var(--light-primary);
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .balance {
    padding: 40px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .balance {
    padding: 40px 20px;
  }
}

.news {
  padding: 72px 144px 150px;
  background-color: var(--light-primary);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .news {
    gap: 40px;
    padding: 40px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .news {
    gap: 30px;
    padding: 40px 20px;
  }
}
.news__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}
.news__link {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .news__link {
    gap: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .news__link {
    gap: 18px;
  }
}
.news__link--border {
  border-bottom: 1px solid var(--accident-color);
}
.news__link--border:hover {
  color: var(--middle-primary);
  border-bottom: 1px solid var(--middle-primary);
}
.news__list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 35px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .news__list {
    gap: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .news__list {
    gap: 24px;
    flex-direction: column;
  }
}
.news__item--large {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .news__item--large {
    gap: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .news__item--large {
    gap: 18px;
  }
}
.news__item--small {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .news__item--small {
    gap: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .news__item--small {
    gap: 18px;
  }
}
.news__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .news__img--large {
    height: 300px;
  }
}
@media screen and (max-width: 767.98px) {
  .news__img--large {
    height: 226px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .news__img--small {
    height: 226px;
  }
}
@media screen and (max-width: 767.98px) {
  .news__img--small {
    height: 226px;
  }
}
.news__info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer__top {
  padding: 90px 144px 48px;
  background-color: var(--accident-color);
  border-bottom: 1px solid rgb(53, 96, 91);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__top {
    padding: 24px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__top {
    padding: 24px 20px;
  }
}
.footer__middle {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 70px 144px;
  background-color: var(--accident-color);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__middle {
    padding: 30px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__middle {
    padding: 24px 20px;
  }
}
.footer__middle--top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 144px 24px;
  background-color: var(--dark-primary);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__bottom {
    padding: 24px 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__bottom {
    padding: 24px 20px;
  }
}
.footer__desc--bold {
  font-weight: 500;
}
.footer__desc--size {
  max-width: 75%;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__desc--size {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__desc--size {
    max-width: 100%;
  }
}
.footer__subscribe {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.footer__subscribe-item {
  width: 100%;
  flex: 1 1 calc(50% - 40px);
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__subscribe-item {
    gap: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__subscribe-item {
    gap: 30px;
  }
}
.footer__subscribe-item--logo {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__subscribe-item--logo {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__subscribe-item--logo {
    display: none;
  }
}
.footer__subscribe-icon {
  width: 286px;
  height: 286px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__subscribe-form-wrap {
  display: flex;
  align-items: center;
  gap: 9px;
  border-bottom: 1px solid rgb(53, 96, 91);
  padding-bottom: 15px;
}
.footer__subscribe-form-wrap:last-child {
  border: none;
  padding: 0;
}
.footer__subscribe-btn {
  padding: 14px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 96, 91);
  border: none;
  cursor: pointer;
}
.footer__subscribe-input {
  width: 100%;
  border: none;
  font-size: 64px;
  letter-spacing: -3%;
  color: var(--light-primary);
  background-color: transparent;
}
.footer__subscribe-input::-moz-placeholder {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -3%;
  color: rgb(53, 96, 91);
}
.footer__subscribe-input:-ms-input-placeholder {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -3%;
  color: rgb(53, 96, 91);
}
.footer__subscribe-input::placeholder {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -3%;
  color: rgb(53, 96, 91);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__subscribe-input::-moz-placeholder {
    font-size: 36px;
  }
  .footer__subscribe-input:-ms-input-placeholder {
    font-size: 36px;
  }
  .footer__subscribe-input::placeholder {
    font-size: 36px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__subscribe-input::-moz-placeholder {
    font-size: 36px;
  }
  .footer__subscribe-input:-ms-input-placeholder {
    font-size: 36px;
  }
  .footer__subscribe-input::placeholder {
    font-size: 36px;
  }
}
.footer__menu {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__menu {
    flex-wrap: wrap;
  }
}
.footer__menu-item {
  width: 100%;
  flex: 1 1 calc(20% - 40px);
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__menu-item {
    flex: 0 1 calc(33.3333333333% - 40px);
  }
}
@media screen and (max-width: 767.98px) {
  .footer__menu-item {
    flex: 0 1 calc(50% - 40px);
  }
}
.footer__social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__social-link {
  cursor: pointer;
}
.footer__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__nav {
    gap: 12px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__nav {
    gap: 12px;
  }
}
.footer__nav-item:first-child {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer__nav-item:first-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__nav-item:first-child {
    margin-bottom: 0;
  }
}
.footer__nav-link {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}
.footer__nav-link:hover {
  color: var(--middle-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.title__wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title--section {
  font-size: 72px;
  font-weight: 400;
  color: var(--accident-color);
  white-space: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .title--section {
    font-size: 42px;
  }
}
@media screen and (max-width: 767.98px) {
  .title--section {
    font-size: 36px;
  }
}
.title--wrap {
  font-size: 32px;
  letter-spacing: -0.5px;
  font-weight: 400;
}
.title--post-title {
  font-size: 24px;
  letter-spacing: -5%;
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .title--post-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .title--post-title {
    font-size: 16px;
  }
}
.title--pretitle {
  font-size: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .title--pretitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .title--pretitle {
    font-size: 12px;
  }
}
.title--light {
  color: var(--light-primary);
}
.title--dark {
  color: var(--dark-primary);
}
.title--middle {
  color: var(--middle-primary);
}
.title--color {
  color: var(--accident-color);
}

.desc--larger {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1%;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .desc--larger {
    font-size: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .desc--larger {
    font-size: 16px;
  }
}
.desc--large {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1%;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .desc--large {
    font-size: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .desc--large {
    font-size: 16px;
  }
}
.desc--normal {
  font-size: 18px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .desc--normal {
    font-size: 16px;
  }
}
@media screen and (max-width: 767.98px) {
  .desc--normal {
    font-size: 14px;
  }
}
.desc--small {
  font-size: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .desc--small {
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .desc--small {
    font-size: 12px;
  }
}
.desc--smaller {
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .desc--smaller {
    font-size: 12px;
  }
}
@media screen and (max-width: 767.98px) {
  .desc--smaller {
    font-size: 12px;
  }
}
.desc--light {
  color: var(--light-primary);
}
.desc--dark {
  color: var(--dark-primary);
}
.desc--middle {
  color: var(--middle-primary);
}
.desc--color {
  color: var(--accident-color);
}