.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 18px 144px;
    background-color: var(--light-primary);
    position: relative;
    transition: top 0.3s;
    @media screen and (min-width: 768px) and (max-width: 1439.98px) {
        padding: 60px 32px 18px;
    }
    @media screen and (max-width: 767.98px) {
        padding: 60px 20px 18px;
    }
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        transition: top 0.3s;
    }
    &__logo {
        width: 161px;
        height: 42px;
        object-fit: contain;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            margin-right: auto;
        }
        @media screen and (max-width: 767.98px) {
            margin-right: auto;
        }
    }
    &__main {
        text-decoration: none;
        margin-right: auto;
    }
    &__nav {
        margin: 0 auto;
        &--mobile {
            @media screen and (min-width: 768px) and (max-width: 1439.98px) and (orientation: landscape) {
                position: absolute;
                top: 120px;
                right: 32px;
                background-color: var(--light-primary);
                z-index: 999;
                width: 100%;
                max-width: 250px;
                height: calc(100vh - 120px);
                padding: 18px 16px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                &.hide {
                    display: none;
                }
            }
            @media (orientation: portrait) and (min-width: 768px) and (max-width: 1439.98px) {
                position: absolute;
                top: 120px;
                right: 32px;
                background-color: var(--light-primary);
                z-index: 999;
                width: 100%;
                max-width: 250px;
                height: calc(100vh - 120px);
                padding: 18px 16px;
                &.hide {
                    display: none;
                }
            }
            @media screen and (max-width: 767.98px) {
                position: absolute;
                top: 120px;
                right: 0;
                background-color: var(--light-primary);
                z-index: 999;
                width: 100%;
                max-width: 375px;
                height: calc(100vh - 120px);
                padding: 18px 16px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                &.hide {
                    display: none;
                }
            }
        }
    }
    &__nav-list {
        list-style: none;
        display: flex;
        align-items: flex-start;
        gap: 12px;
        &--mobile {
            @media (orientation: landscape) and (min-width: 768px) and (max-width: 1439.98px) {
                flex-direction: column;
                gap: 0;
                min-height: 200px;
                height: calc(100% - 120px);
                overflow: hidden;
                overflow-y: scroll;
            }
            @media (orientation: portrait) and (min-width: 768px) and (max-width: 1439.98px) {
                flex-direction: column;
                gap: 0;
                min-height: 200px;
                height: calc(100% - 120px);
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: column;
                gap: 0;
                min-height: 200px;
                height: calc(100% - 120px);
            }
        }
    }
    &__nav-item {
        &--mobile {
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                width: 100%;
            }
            @media screen and (max-width: 767.98px) {
                width: 100%;
            }
        }
    }
    &__nav-link {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 12px 24px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: var(--middle-primary);
        background-color: var(--light-primary);
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
            color: var(--accident-color);
            background-color: var(--accident-color-opacity);
        }
        &--mobile {
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                width: 100%;
                justify-content: space-between;
                color: var(--dark-primary);
            }
            @media screen and (max-width: 767.98px) {
                width: 100%;
                justify-content: space-between;
                color: var(--dark-primary);
            }
        }
    }
    &__nav-dropdown {
        width: 100%;
        max-width: 150px;
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--light-primary);
        border: 2px solid #fff;
        box-shadow: 0px 2px 8.3px 0px rgba(0, 0, 0, 0.08);
        z-index: 999;
        &.hide {
            display: none;
        }
        &--mobile {
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                position: relative;
                border: none;
                box-shadow: none;
                width: 100%;
                min-width: 100%;
                border-bottom: 1px solid rgba(228, 229, 229, 1);
            }
            @media screen and (max-width: 767.98px) {
                position: relative;
                border: none;
                box-shadow: none;
                width: 100%;
                min-width: 100%;
                border-bottom: 1px solid rgba(228, 229, 229, 1);
            }
        }
    }
    &__nav-icon {
        &.active {
            transform: rotate(180deg);
        }
        &--desktop {
            @media screen and (max-width: 1439.98px) {
                display: none;
            }
        }
        &--mobile {
            @media screen and (min-width: 1440px) {
                display: none;
            }
        }
    }
    &__nav-dropdown-link {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 12px 24px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: var(--middle-primary);
        background-color: var(--light-primary);
        &:hover,
        &:active,
        &:focus {
            color: var(--accident-color);
            background-color: var(--accident-color-opacity);
        }
        &--mobile {
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                color: var(--dark-primary);
            }
            @media screen and (max-width: 767.98px) {
                color: var(--dark-primary);
            }
        }
    }
    &__btns {
        list-style: none;
        display: flex;
        gap: 12px;
        position: relative;
        &--mobile {
            @media screen and (min-width: 1440px) {
                display: none;
            }
            @media (orientation: landscape) {
                flex-direction: row;
                height: auto;
            }
            @media (orientation: portrait) and (min-width: 768px) and (max-width: 1439.98px) {
                flex-direction: column;
                gap: 24px;
                height: auto;
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: column;
            }
        }
        &--mobile-lang {
            @media screen and (min-width: 1440px) {
                display: none;
            }
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                display: none;
            }
        }
        &--admin {
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                display: none;
            }
            @media screen and (max-width: 767.98px) {
                display: none;
            }
        }
        &--lang {
            @media screen and (max-width: 767.98px) {
                display: none;
            }
        }
    }
    &__btn-lang {
        position: relative;
        cursor: pointer;
    }
    &__btn {
        &--main-lang {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            position: relative;
            padding: 12px 24px;
            color: var(--dark-primary);
            font-size: 14px;
            &:hover,
            &:active,
            &:focus {
                color: var(--accident-color);
                background-color: var(--accident-color-opacity);
            }
            padding: 0;
            &:hover {
                background-color: transparent;
            }
        }
        &--lang {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            position: relative;
            padding: 12px 24px;
            color: var(--dark-primary);
            font-size: 14px;
            &:hover,
            &:active,
            &:focus {
                color: var(--accident-color);
                background-color: var(--accident-color-opacity);
            }
        }
    }
    &__btn-dropdown {
        width: 100%;
        min-width: 160px;
        max-height: 150px;
        overflow: hidden;
        overflow-y: scroll;
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: var(--light-primary);
        border: 2px solid #fff;
        box-shadow: 0px 2px 8.3px 0px rgba(0, 0, 0, 0.08);
        z-index: 999;
        &.hide {
            display: none;
        }
    }
    &__btn-icon {
        &.active {
            transform: rotate(180deg);
        }
    }
    &__mobile-nav {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: rgba(45, 85, 81, 0.1);
        cursor: pointer;
        &:hover {
            background-color: rgba(57, 112, 106, 0.25);
        }
        &:focus,
        &:active {
            background-color: rgba(9, 102, 253, 0.05);
        }
        @media screen and (min-width: 1440px) {
            display: none;
        }
    }
    &__mobile-nav-icon {
        &--open {
            display: flex;
            &.hide {
                display: none;
            }
        }
        &--close {
            display: flex;
            &.hide {
                display: none;
            }
        }
    }
}
