@mixin h1 {
	font-size: 132px;
	font-weight: 500;
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		font-size: 80px;
	}
	@media screen and (max-width: 767.98px) {
		font-size: 48px;
	}
}

@mixin h2 {
	font-size: 72px;
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		font-size: 36px;
	}
	@media screen and (max-width: 767.98px) {
		font-size: 36px;
	}
}

@mixin h3 {
	font-size: 56px;
	letter-spacing: -1.5px;
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		font-size: 36px;
		letter-spacing: -1px;
	}
	@media screen and (max-width: 767.98px) {
		font-size: 36px;
		letter-spacing: -1px;
	}
}

@mixin h4 {
	font-size: 32px;
	letter-spacing: -0.64px;
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		font-size: 24px;
		letter-spacing: -0.64px;
	}
	@media screen and (max-width: 767.98px) {
		font-size: 24px;
		letter-spacing: -0.64px;
	}
}

@mixin h5 {
	font-size: 24px;
	letter-spacing: -5%;
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		font-size: 16px;
	}
	@media screen and (max-width: 767.98px) {
		font-size: 16px;
	}
}

@mixin nav-link {
	font-size: 14px;
	font-weight: 500;
	color: var(--middle-primary);
	background-color: var(--light-primary);
	&:hover,
	&:active,
	&:focus {
		color: var(--accident-color);
		background-color: var(--accident-color-opacity);
	}
}

@mixin btn-primary {
	padding: 12px 24px;
	border-radius: 24px;
	color: var(--light-primary);
	font-weight: 600;
	background-color: var(--accident-color);
	&:hover {
		background-color: rgba(57, 112, 106, 1);
	}
	&:focus,
	&:active {
		background-color: rgba(31, 59, 56, 1);
	}
	&:disabled {
		color: rgba(129, 153, 151, 1);
		background-color: rgba(213, 221, 220, 1);
	}
}

@mixin btn-secondary {
	padding: 12px 24px;
	border-radius: 24px;
	color: var(--accident-color);
	font-weight: 600;
	background-color: transparent;
	&:hover {
		color: rgba(31, 59, 56, 1)
	}
	&:focus,
	&:active {
		color: rgba(31, 59, 56, 1)
	}
	&:disabled {
		color: rgba(129, 153, 151, 1);
	}
}

@mixin btn-lang {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	position: relative;
	padding: 12px 24px;
	color: var(--dark-primary);
	font-size: 14px;
	&:hover,
	&:active,
	&:focus {
		color: var(--accident-color);
		background-color: var(--accident-color-opacity);
	}
}

@mixin btn-mobile-nav {
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: rgba(45, 85, 81, 0.1);
	cursor: pointer;
	&:hover {
		background-color: rgba(57, 112, 106, 0.25);
	}
	&:focus,
	&:active {
		background-color: rgba(9, 102, 253, 0.05);
	}
}

@mixin btn-arrow {
	width: 80px;
	height: 80px;
	border: 2px solid var(--accident-color);
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		width: 50px;
		height: 50px;
	}
	@media screen and (max-width: 767.98px) {
		width: 42px;
		height: 42px;
	}
}

@mixin desc-primary {
	font-size: 20px;
	letter-spacing: -1%;
	color: var(--accident-color);
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		font-size: 13px;
	}
	@media screen and (max-width: 767.98px) {
		font-size: 13px;
	}
}

@mixin desc-secondary {
	font-size: 18px;
	color: var(--accident-color);
	@media screen and (min-width: 768px) and (max-width: 1439.98px) {
		font-size: 13px;
	}
	@media screen and (max-width: 767.98px) {
		font-size: 13px;
	}
}

@mixin footer-desc {
	font-size: 12px;
	color: var(--light-primary);
	font-weight: 400;
	& span {
		font-weight: 500;
	}
}