*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: rgba(228, 229, 229, 1) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(228, 229, 229, 1);
    border-radius: 2px;
    border: 2px solid rgba(45, 85, 81, 1);
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(45, 85, 81, 1) rgba(228, 229, 229, 1);
}
