:root {
    --font-primary: "Inter";
    --light-primary: rgba(251, 249, 249, 1);
    --middle-primary: rgba(153, 161, 161, 1);
    --dark-primary: rgba(17, 17, 17, 1);
    --accident-color: rgba(45, 85, 81, 1);
    --accident-color-opacity: rgba(45, 85, 81, 0.1);
}

@import "_fonts";
@import "_mixins";
@import "_outline";
@import "_scrollbar";
@import "_checkbox";
@import "_header";
@import "_hero";
@import "_about";
@import "_ig";
@import "_innovation";
@import "_balance";
@import "_news";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.title {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &--section {
        font-size: 72px;
        font-weight: 400;
        color: var(--accident-color);
        white-space: nowrap;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 42px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 36px;
        }
    }
    &--wrap {
        font-size: 32px;
        letter-spacing: -.5px;
        font-weight: 400;
    }
    &--post-title {
        font-size: 24px;
        letter-spacing: -5%;
        font-weight: 500;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &--pretitle {
        font-size: 16px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 14px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 12px;
        }
    }
    &--light {
        color: var(--light-primary);
    }
    &--dark {
        color: var(--dark-primary);
    }
    &--middle {
        color: var(--middle-primary);
    }
    &--color {
        color: var(--accident-color);
    }
}

.desc {
    &--larger {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -1%;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &--large {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1%;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 18px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &--normal {
        font-size: 18px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 16px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 14px;
        }
    }
    &--small {
        font-size: 16px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 14px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 12px;
        }
    }
    &--smaller {
        font-size: 14px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 12px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 12px;
        }
    }
    &--light {
        color: var(--light-primary);
    }
    &--dark {
        color: var(--dark-primary);
    }
    &--middle {
        color: var(--middle-primary);
    }
    &--color {
        color: var(--accident-color);
    }
}
