:root {
    --font-primary: "Inter";
    --light-primary: rgba(251, 249, 249, 1);
    --middle-primary: rgba(153, 161, 161, 1);
    --dark-primary: rgba(17, 17, 17, 1);
    --accident-color: rgba(45, 85, 81, 1);
    --accident-color-opacity: rgba(45, 85, 81, 0.1);

}

@import "_fonts";
@import "_mixins";
@import "_outline";
@import "_scrollbar";
@import "_header";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.title {
    &--h1 {
    }
    &--h2 {
    }
    &--h3 {
    }
    &--h4 {
    }
}
