:root {
    --font-primary: "Inter";
    --light-primary: rgba(251, 249, 249, 1);
    --middle-primary: rgba(153, 161, 161, 1);
    --dark-primary: rgba(17, 17, 17, 1);
    --accident-color: rgba(45, 85, 81, 1);
    --accident-color-opacity: rgba(45, 85, 81, 0.1);
}

@import "_fonts";
@import "_outline";
@import "_scrollbar";
@import "_checkbox";
@import "_header";
@import "_hero";
@import "_about";
@import "_ig";
@import "_innovation";
@import "_balance";
@import "_news";
@import "_privacy";
@import "_faq";
@import "_career";
@import "_contact";
@import "_error";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.title {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &--section {
        font-size: 72px;
        font-weight: 400;
        color: var(--accident-color);
        white-space: nowrap;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 42px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 36px;
        }
    }
    &--wrap {
        font-size: 32px;
        letter-spacing: -.5px;
        font-weight: 400;
    }
    &--post-title {
        font-size: 24px;
        letter-spacing: -5%;
        font-weight: 500;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &--pretitle {
        font-size: 16px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 14px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 12px;
        }
    }
    &--light {
        color: var(--light-primary);
    }
    &--dark {
        color: var(--dark-primary);
    }
    &--middle {
        color: var(--middle-primary);
    }
    &--color {
        color: var(--accident-color);
    }
}

.desc {
    &--larger {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -1%;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &--large {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1%;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 18px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    &--normal {
        font-size: 18px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 16px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 14px;
        }
    }
    &--small {
        font-size: 16px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 14px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 12px;
        }
    }
    &--smaller {
        font-size: 14px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            font-size: 12px;
        }
        @media screen and (max-width: 767.98px) {
            font-size: 12px;
        }
    }
    &--light {
        color: var(--light-primary);
    }
    &--dark {
        color: var(--dark-primary);
    }
    &--middle {
        color: var(--middle-primary);
    }
    &--color {
        color: var(--accident-color);
    }
}

.btn {
    &--primary {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        border-radius: 24px;
        color: var(--light-primary);
        font-weight: 600;
        background-color: var(--accident-color);
        text-decoration: none;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: rgba(57, 112, 106, 1);
        }
        &:focus,
        &:active {
            background-color: rgba(31, 59, 56, 1);
        }
        &:disabled {
            color: rgba(129, 153, 151, 1);
            background-color: rgba(213, 221, 220, 1);
        }
    }
    &--secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        border-radius: 24px;
        color: var(--accident-color);
        font-weight: 600;
        background-color: transparent;
        text-decoration: none;
        border: none;
        cursor: pointer;
        &:hover {
            color: rgba(31, 59, 56, 1)
        }
        &:focus,
        &:active {
            color: rgba(31, 59, 56, 1)
        }
        &:disabled {
            color: rgba(129, 153, 151, 1);
        }
    }
    &--form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 42px;
        border-radius: 2px;
        font-weight: 600;
        background-color: var(--accident-color);
        text-decoration: none;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: rgba(57, 112, 106, 1);
        }
        &:focus,
        &:active {
            background-color: rgba(31, 59, 56, 1);
        }
        &:disabled {
            color: rgba(129, 153, 151, 1);
            background-color: rgba(213, 221, 220, 1);
        }
    }
    &--cta {
        max-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 42px;
        border-radius: 2px;
        font-weight: 600;
        background-color: var(--light-primary);
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: all .5s ease-in-out;
        &:hover {
            transform: scale(1.05);
            transition: all .5s ease-in-out;
        }
        &:focus,
        &:active {
            background-color: rgba(9, 102, 253, 0.05);
        }
        &:disabled {
            color: rgba(129, 153, 151, 1);
            background-color: rgba(213, 221, 220, 1);
        }
    }
    &--mobile {
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            width: 100%;
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
        }
    }
}